<header>
    <div class="logo">
        <a href="/user/services"><span class="red">гос</span><span class="blue">услуги</span></a>
    </div>
    <menu>
        <li><a href="/user/services">Услуги</a></li>
        <li><a href="/user/requests">Заявки</a></li>
        <li><a href="/user/profile">Профиль</a></li>
    </menu>
</header>