<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title><%= title || "Госуслуги" %></title>
  <% if (stylesheet) { %>
    <link rel="stylesheet" href="/css/<%= stylesheet %>">
  <% } %>
</head>
<body>
  <%- include('partials/notification') %>
  <%- body %>
</body>

<script>
  window.onload = () => {
    const notification = document.querySelector('.notification.error')
    if (notification) {
      setTimeout(() => {
        notification.style.transition = 'opacity 0.5s ease'
        notification.style.opacity = '0'
        setTimeout(() => notification.remove(), 500)
      }, 5000)
    }
  }
</script>

</html>