<main>
  <form action="<%= api %>" method="POST">
    <p class="logo"><a href="<%= link %>"><span class="red">гос</span><span class="blue">услуги</span></a></p>
    <input type="text" name="login" placeholder="Логин" required />
    <input type="password" name="password" placeholder="Пароль" required />
    <button type="submit">Войти</button>
  </form>
</main>
<%-  additional %>